@model MeteoTrento.ViewModels.MeteoTrentoLetturaPrevisioniViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previsioni Meteo</title>
    <link rel="stylesheet" href="path/to/your/css/file.css"> <!-- Assicurati di collegare il tuo file CSS -->
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Giorno</th>
                <th>Fascia</th>
                <th>Previsione</th>
                <th>Minime</th>
                <th>Massime</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Previsione in Model.lista)
            {
                <tr>
                    <td>@Previsione.giorno</td>
                    <td>@Previsione.fascia</td>
                    <td>@Previsione.descIcona <img src="@Previsione.icona" class="weather-icon" alt="Icona Meteo"></td>
                    <td>@Previsione.tMinGiorno</td>
                    <td>@Previsione.tMaxGiorno</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
